﻿<br /><br />
<ion-header-bar class="bar bar-header bar-balanced item-input-inset">
    
    <h1 class="title">Purchase saved</h1>
    <a href="#/app/stall" class="button button-clear ion-android-arrow-back "> Back</a>
</ion-header-bar>

<ion-content class="padding">
   
    <br /><br /><br />
   
    <div class="card">
        <div class="item item-text-wrap">
          Thank you for using BeforeCart. Please check your emails to confirm your purchase
        </div>
    </div>
    <br /><br />
    <div class="item item-divider">
       <h3>We love to hear your feedbacks</h3>
    </div>
    <br />
    <div class="list">
        <label class="item item-input">
            <textarea ng-model="userComment" placeholder="Type your feedback here"></textarea>
        </label>


        <button ng-click="shareIdeas({{userComment}})" class="button ion-android-share-alt button-full button-balanced">
            Share
        </button>   
      </div>


</ion-content>