﻿<br /><br />
<ion-header-bar ng-controller="askFriendCtrl" class="bar bar-header bar-stable item-input-inset">
    <div class="button-bar ">
        <a ng-click="finishOngoingChat()" nav-clear menu-close class="button  icon-left ion-home button-balanced">Finish</a>
        <a href="" ng-click="postProductInChat()"  class="button icon-left ion-android-mail button-stable">Publish</a>
        <a href="#/app/askfriend" nav-clear menu-close class="button   icon-left ion-android-contacts button-stable">Invite</a>
    </div>
</ion-header-bar>
<ion-pane ng-controller="askFriendCtrl" class="messaging-view">
    <br /><br /><br />
<ion-content class="content-stable" >
    <br /><br /><br /><br />


    <div ng-repeat="product in products" class="list card">
        <div class="item item-avatar">
            <img src="{{product.STALL_IMAGE}}">
            <h2>Available @ {{product.STALL_NAME}}</h2>
            <h3> <i class="ion-ios-location-outline"></i> {{product.STALL_ADDRESS}} </h3>
            <h3><i class="ion-android-call"></i> {{product.STALL_PHONE}} </h3>
            <h3><i class="ion-email"></i> {{product.STALL_EMAIL}}</h3>
            <p> only  ${{product.PRODUCT_PRICE}}</p>

        </div>
        <div class="item item-body">
            <img class="full-image" src="{{product.PRODUCT_IMAGE}}">
            <p>{{product.PRODUCT_DESC}}</p>

        </div>
      
        <div class="item" ng-controller="mainCatelogCtrl">
            <p>
              
                <a ng-click="loadProductInfo({{product.UPC}})" class="button button button-small button-stable">Read More </a>
                <a href="" ng-click="saveInWishList(product)" class="button button-small button button-balanced">To Wishlist</a>


            </p>
        </div>
    </div>

    <div ng-repeat="message in messages" class="item item-avatar item-text-wrap">

        <img src="{{message.image}}">
        <h3><strong> {{message.name}}: </strong>{{message.text}}</h3>
        <p>{{ message.time }}</p>

    </div>
        
            <!--<div class="message" >
            <span><strong>{{message.name}} </strong>{{ message.text }}</span>
        </div>
        <div class="time" >{{message.time}}</div>-->

        
    
</ion-content>

<ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear button-balanced icon ion-android-send" ng-disabled="!data.message" ng-click="sendMessage()"></button>
</ion-footer-bar>
  </ion-pane>