﻿<br /><br />
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDrGkJEeMeN7KWcgvIT4t6ZIsN8r7I4f5E&sensor=true"></script>
<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="More details" icon-on="ion-ios-copy" icon-off="ion-ios-copy-outline">


        <ion-pane>

            <ion-content ng-controller="MoreViewController" ng-init="LoadMoreDetails()">
                <div class="list card">

                    <div class="item item-body">
                        <img class="full-image" ng-src="{{pImage}}">
                        <label class="item item-input">
                            <p>{{ DES }}</p>

                        </label>
                        

                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Category
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ CATEGORY }}</label>

                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Price
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ PRICE }}</label>

                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Style
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ STYLE }}</label>

                        </label>
                    </div>
                </div>
                <!--<div class="item item-avatar">
                    <img src="" style="background-color:#062D57;">
                    <h2>Color</h2>
                    <label class="item item-input">
                        <label for="MyField">{{ COLOR }}</label>

                    </label>
                </div>-->
                <div class="card">
                    <div class="item item-divider">
                       Color
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ COLOR }}</label>

                        </label>
                    </div>
                    </div>

                    <div class="card">
                        <div class="item item-divider">
                            Size
                        </div>
                        <div class="item item-text-wrap">
                            <label class="item item-input">
                                <label for="MyField">{{ SIZE }}</label>

                            </label>
                        </div>
                    </div>
                    <div class="list card">
                        <div class="item item-divider">
                            Address
                        </div>
                        <br />
                        <div class="item item-avatar">
                            <img ng-src="{{link}}" />

                            <div class="item item-text-wrap">
                                <h3>
                                    {{ STALLNAME }}
                                </h3>
                            </div>
                        </div>
                    </div>
</ion-content>
            <ion-footer-bar class="bar bar-footer bar-light item-input-inset">

                <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
                    Home
                </a>

            </ion-footer-bar>
        </ion-pane>
    </ion-tab>
    <ion-tab title="Spread" icon-on="icon ion-ios-world" icon-off="ion-ios-world-outline">
       
       
        <ion-pane>
           
            <ion-content ng-controller="MapController" ng-init="loadMap()">
                <div id="map" data-tap-disabled="true"></div>
            </ion-content>
        </ion-pane>
        <ion-footer-bar class="bar bar-footer bar-light item-input-inset">

            <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
                Home
            </a>

        </ion-footer-bar>
</ion-tab>
    <ion-tab title="Trend" icon-on="icon ion-ios-pie" icon-off="icon ion-ios-pie-outline" >
        <br /><br />
      
        <ion-pane>

            <ion-content ng-controller="ChartController" ng-init="loadChart()">
           
                <div class="card">
                    <div class="item item-divider">
                       Popularity chart
                    </div>
                    <div class="item item-text-wrap">
                        <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                       Global Popularity
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ TREND }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        North America
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ NAP }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                            <label for="MyField">{{ NAN }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        South America
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ SAP }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                            <label for="MyField">{{ SAN }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Europe
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ EUP }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                            <label for="MyField">{{ EUN }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Australia
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ AUP }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                            <label for="MyField">{{ AUN }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Asia
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ ASP }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                            <label for="MyField">{{ ASN }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        Africa
                    </div>
                    <div class="item item-text-wrap">
                        <label class="item item-input">
                            <label for="MyField">{{ AFP }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                            <label for="MyField">{{ AFN }}</label>
                            <input type="text" size="40" id="MyField" ng-model="myField" />
                        </label>
                    </div>
                </div>
            </ion-content>
            <ion-footer-bar class="bar bar-footer bar-light item-input-inset">

                <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
                    Home
                </a>

            </ion-footer-bar>

        </ion-pane>

    </ion-tab>

</ion-tabs>

  
