﻿  <br /><br />

<ion-header-bar  class="bar bar-header bar-stable item-input-inset">
    <div class="button-bar ">
        <a ng-click="finishOngoingChat()" class="button  icon-left ion-home   button-balanced">Finish</a>
        <a href="" ng-click="showProduct()" class="button   icon-left ion-tshirt button-stable">Show</a>
        <a href="" ng-click="sendJoinInvitations()" class="button   icon-left ion-chatbubble-working  button-stable">Begin</a>
        <!--href="#/app/chatView"-sendJoinInvitations-->
        </div>
</ion-header-bar>
<ion-header-bar class="bar bar-header bar-stable item-input-inset">
    <div class="list list-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" id="searchForChatTxt" ng-model="searchForChatTxt" ng-keyup="" placeholder="find friends">

        </label>

    </div>
    <label class="list">

        <!--<button nav-clear menu-close class="button button-outline  icon-left ion-ios-search  button-small button-balanced">Find</button>-->

    </label>

</ion-header-bar >

<!--data-ng-init="loadFriendsForChat()"-->
    <ion-content class="padding" data-ng-init="loadFriendsForChat()" >
        <br /><br /><br />

        <ion-list>
            <ion-item class="list card" ng-repeat="suggestedChatUser in suggestedChatList | filter:searchForChatTxt">
                <ion-item class="item item-avatar">

                    <img src="{{suggestedChatUser.image}}">
                    <h2> <strong>{{suggestedChatUser.firstname}}</strong> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </h2>
                    <h3>{{suggestedChatUser.cat}} chats on this category</h3>
                    <h3>{{suggestedChatUser.chats}} chats with you</h3>
                    <p>{{suggestedChatUser.email}}</p>
                    <p>{{suggestedChatUser.description}}</p>
                    

                    


                </ion-item>
                <ion-item class="item item-checkbox  checkbox-balanced">
                    <p>Invite for chat<label class="checkbox" title="Add to Chat"><input ng-checked="selection.indexOf(suggestedChatUser.userId)>-1" name="ChatUser" id="ChatUser" ng-click="toggleSelection(suggestedChatUser.userId)" value="{{suggestedChatUser.userId}}" type="checkbox"></label></p>
                </ion-item>
            </ion-item>
        </ion-list>


        <!--<form action="#/app/chatView">
            <button nav-clear menu-close class="button button-full button-balanced icon-right ion-chevron-right ">Continue</button>
        </form>-->






    </ion-content>

