﻿ 

<ion-tabs class="tabs-positive tabs-icon-top" >
    <ion-tab title="Suggested" ng-init="saveSuggestionListLocally()" icon-on="ion-ios-color-filter" icon-off="ion-ios-color-filter-outline">
        <br /><br /><br /><!--ion-ios-search-strong-->
        <ion-header-bar class="bar bar-header bar-stable item-input-inset"></ion-header-bar>
        <ion-header-bar class="bar bar-header bar-stable item-input-inset">
            <br />
            <div class="list list-inset">

            </div>
            <div class="list list-inset">
                <label class="item-input-wrapper">
                    <i class="icon  ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="filter products" ng-model="filterProductsTxt">
                </label>
            </div>
            <div class="list list-inset">

            </div>
        </ion-header-bar>

        <ion-content class="padding">
            <br /><br />
            <ion-list>
                <ion-item class="list card" ng-repeat="product in recommendedProducts | filter:filterProductsTxt">
                    <div class="item item-avatar">
                        <img src="{{product.STALL_IMAGE}}">
                        <h2>Available @ {{product.STALL_NAME}}</h2>
                        <h3> <i class="ion-ios-location-outline"></i> {{product.STALL_ADDRESS}} </h3>
                        <h3><i class="ion-android-call"></i> {{product.STALL_PHONE}} </h3>
                        <h3><i class="ion-email"></i> {{product.STALL_EMAIL}}</h3>

                    </div>
                    <div class="item item-body">
                        <img class="full-image" alt="product" src="{{product.PRODUCT_IMAGE}}">

                    </div>
                    <div class="item">
                        <h3> $ {{product.PRODUCT_PRICE}} only</h3> <!--NEW-->
                    </div>
                    <div class="item item-text-wrap">
                        <p>{{product.PRODUCT_DESC}}</p><!--NEW-->
                    </div>
                    <div class="item">

                        <p>
                            <a href="" ng-model="product.UPC" ng-click="addLike({{product.UPC}},{{recommendedProducts}},'suggest')" ng-style="product.style" class="subdued"><i class="material-icons" style="font-size:14px;color:{{product.ICOLOR}};">thumb_up</i> Like ( {{product.LIKES}} ) </a>
                            <a href="" ng-click="showLikesList({{product.UPC}},{{product.LIKES}})" class="subdued"> Show likes</a>


                            <!--href="#/app/commentview"    showComment({{product.UPC}})-->
                        </p>

                    </div>
                    <div class="item">
                        <p>
                            <a class="subdued" href="" ng-click="navigateCommentView({{product.UPC}})"><i class="ion-android-textsms"></i> Comment ({{product.COMMENTS}})</a>
                            <!--<a href="" ng-click="showComment({{product.UPC}})" class="subdued"> Comments ( {{product.COMMENTS}} )</a>-->
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <button ng-click="displayChatFriendsView({{product.CAT_ID}},{{product}})" class="button button button-small button-stable">Open Chat</button>
                            <a ng-click="loadProductInfo({{product.UPC}})" class="button button button-small button-stable">Read More </a>

                            <a href="" ng-click="saveInWishList(product)" class="button button-small button button-balanced">To Wishlist</a>


                        </p>
                    </div>

                </ion-item>
            </ion-list>
        </ion-content>

    </ion-tab>
    <ion-tab title="Search" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
        <br /><br /><br /><!--ion-ios-search-strong-->
        <ion-header-bar class="bar bar-header bar-stable item-input-inset">
            

        </ion-header-bar>
        <ion-header-bar class="bar bar-header bar-stable item-input-inset">
            <br />
            <!--<div class="list list-inset">

            </div>-->
            <!--<div class="item item-input-inset"  >-->
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search"  placeholder="type product description" ng-model="searchkey">
                </label>
                <button ng-disabled="!searchkey" ng-click="searchProduct(searchkey)" class="button button-balanced button-small ion-ios-search">
                    Search
                </button>
            <!--</div>-->
           
        </ion-header-bar>
        

        <ion-content class="padding">
            <br /><br /><br/>
            <p>{{searchNotice}}</p>
          
            <ion-list>
                <ion-item class="list card" ng-repeat="product in searchedProducts ">
                    <div class="item item-avatar">
                        <img src="{{product.STALL_IMAGE}}">
                        <h2>Available @ {{product.STALL_NAME}}</h2>
                        <h3> <i class="ion-ios-location-outline"></i> {{product.STALL_ADDRESS}} </h3>
                        <h3><i class="ion-android-call"></i> {{product.STALL_PHONE}} </h3>
                        <h3><i class="ion-email"></i> {{product.STALL_EMAIL}}</h3>

                    </div>
                    <div class="item item-body">
                        <img class="full-image" alt="product" src="{{product.PRODUCT_IMAGE}}">

                    </div>
                    <div class="item">
                        <h3> $ {{product.PRODUCT_PRICE}} only</h3> <!--NEW-->
                    </div>
                    <div class="item item-text-wrap">
                        <p>{{product.PRODUCT_DESC}}</p><!--NEW-->
                    </div>
                    <div class="item">

                        <p>
                            <a href="" ng-model="product.UPC" ng-click="addLike({{product.UPC}},{{searchedProducts}},'search')" ng-style="product.style" class="subdued"><i class="material-icons" style="font-size:14px;color:{{product.ICOLOR}};">thumb_up</i> Like ( {{product.LIKES}} ) </a>
                            <a href="" ng-click="showLikesList({{product.UPC}},{{product.LIKES}})" class="subdued"> Show likes</a>


                            <!--href="#/app/commentview"    showComment({{product.UPC}})-->
                        </p>

                    </div>
                    <div class="item">
                        <p>
                            <a class="subdued" href="" ng-click="navigateCommentView({{product.UPC}})"><i class="ion-android-textsms"></i> Comment ({{product.COMMENTS}})</a>
                            <!--<a href="" ng-click="showComment({{product.UPC}})" class="subdued"> Comments ( {{product.COMMENTS}} )</a>-->
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <button ng-click="displayChatFriendsView({{product.CAT_ID}},{{product}})" class="button button button-small button-stable">Open Chat</button>
                            <a ng-click="loadProductInfo({{product.UPC}})" class="button button button-small button-stable">Read More </a>

                            <a href="" ng-click="saveInWishList(product)" class="button button-small button button-balanced">To Wishlist</a>


                        </p>
                    </div>

                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar  ng-controller="mainCatelogCtrl"  class="bar bar-footer bar-light item-input-inset">

            
                <div class="input-label">
                  category
                </div>
                <select ng-model="data.category">
                    <option value="1" selected>Women petities</option>
                    <option value="2" selected>Dresses & suits</option>
                    <option value="3">Sleep wear women</option>
                    <option value="4">Junior appereal</option>
                    <option value="5" >Ralph Lauren styles</option>
                    <option value="6">Womens Better styles</option>
                    <option value="7">Women sockes & hosiery </option>
                    <option value="8">Women swim wear </option>
                    <option value="a">All</option>
                </select>
           

        </ion-footer-bar>
        </ion-tab>



          

            <!--<ion-tab title="Timeline" icon-on="ion-ios-time" icon-off="ion-ios-time-outline">
                <br /><br /><br />
                <ion-header-bar class="bar bar-header bar-stable item-input-inset"></ion-header-bar>
                <ion-header-bar class="bar bar-header bar-stable item-input-inset">
                    <br />
                    <div class="list list-inset">

                    </div>
                    <div class="list list-inset">
                        <label class="item-input-wrapper">
                            <i class="icon ion-ios-search placeholder-icon"></i>
                            <input type="search" placeholder="Search">
                        </label>
                    </div>
                    <div class="list list-inset">
                    </div>
                </ion-header-bar>
                <ion-content class="padding">
                    <br /><br />
                    <ion-list>
                        <ion-item class="list card" ng-repeat="item in items">

                            <br />
                            <div class="item item-avatar">
                                <img src="images/friends/obama.jpg">
                                <h3>Barrack Obama asks about</h3>
                                <h4>Blue Shirt </h4>
                                <h4>on Dresses & Suits</h4>
                                <p><i class="ion-calendar"></i> before 12th Jan. 2016 </p>

                            </div>
                            <div>

                            </div>
                            <div class="item item-body">
                                <img class="full-image" src="images/products/blue-shirt.jpg">
                                <p>

                                    <a href="#" class="subdued"><i class="ion-thumbsup"></i> Like It</a>
                                    <a href="#" class="subdued"><i class="ion-thumbsdown"></i> Hate It</a>
                                    <a href="#/app/commentview" class="subdued"><i class="ion-android-textsms"></i> Comment</a>

                                </p>
                                <p>The description goes here.The description goes here.The description goes here.The description goes here</p>
                                <p>

                                    <a href="#" class="subdued">12 Likse</a>
                                    <a href="#" class="subdued">1 Dislikes</a>
                                    <a href="#" class="subdued">5 Comments</a>

                                </p>
                                <p>
                                    <a href="#/app/askfriend" class="button button-outline button-small button-balanced">
                                        Chat now
                                    </a>
                                    <a href="#/app/popularity" class="button button-outline button-small button-balanced">
                                       See more
                                    </a>
                                    <a  href="" class="button button-small button-outline button-positive">
                                       To wishlist
                                    </a>


                                </p>

                            </div>

                        </ion-item>
                    </ion-list>
                </ion-content>


            </ion-tab>-->
            <ion-tab title="My Friends" ng-init="loadFriendRequests();loadFriends();loadChatRequests()" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
                <br /><br /><br />
                <ion-header-bar class="bar bar-header bar-stable item-input-inset"><h3></h3></ion-header-bar>
                <ion-header-bar class="bar bar-header bar-stable item-input-inset">
                    <br />
                    <div class="list list-inset">

                    </div>
                    <div class="list list-inset">
                        <label class="item-input-wrapper">
                            <i class="icon  ion-ios-search placeholder-icon"></i>
                            <input type="search" ng-model="searchUsersTxt" placeholder="filter friends">

                        </label>

                    </div>

                    <div class="list list-inset">

                    </div>
                </ion-header-bar>
                <br />
                    <ion-content class="padding">
                        <br /><br /><br />
                        <form action="">

                            <p>{{searchUsersTitle}}</p>
                            <ion-list class="list" ng-controller="mainCatelogCtrl">

                                <!---Existing friends-->

                                <ion-item class="item item-avatar" ng-repeat="existingFriend in existingFriendList | filter:searchUsersTxt">
                                    <!--images/friends/bill.jpg-->
                                    <img src="{{existingFriend.image}}">
                                    <h2> {{existingFriend.firstname}} &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  <!--<img src="images/online.png" />--></h2>
                                    <p>{{existingFriend.email}}</p>
                                    <h4>{{existingFriend.rel_type}}</h4>
                                    <h4>{{existingFriend.chats}} chats with you</h4>

                                    <a ng-click="breakFriendship(existingFriend)" class="button button button-small button-balanced">Unfriend</a>
                                </ion-item>

                                <!---Suggested new  friends-->

                                <ion-item class="item item-avatar" ng-repeat="suggestedFriend in suggestedFriendList | filter:searchUsersTxt">
                                    <!--images/friends/obama.jpg-->
                                    <img src="{{suggestedFriend.image}}">
                                    <h2> {{suggestedFriend.firstname}}  &nbsp;&nbsp; &nbsp;</h2>
                                    <p>{{suggestedFriend.email}}</p>
                                    <a ng-click="sendFriendRequest(suggestedFriend)" class="button button button-small button-positive">Send Request</a>

                                </ion-item>
                        </form>
                    </ion-content>
                <ion-footer-bar class="bar bar-footer bar-light item-input-inset">

                    <a href="#/app/findfriends" class="button  icon-left ion-plus  button-small button-stable">
                        More Friends  
                    </a>

                </ion-footer-bar>

</ion-tab>
            <ion-tab title="Notices" icon-on="icon ion-ios-bell" icon-off="ion-ios-bell-outline" badge-style="badge-assertive" badge="data.badge">
                <br /><br />
                <ion-content class="padding">
                    <ion-list class="list" ng-controller="mainCatelogCtrl">

                        <p>{{FriendRequestTitle}}</p>
                        <ion-item class="item item-avatar" ng-repeat="FriendshipRequest in FriendshipRequests">
                            <img src="{{FriendshipRequest.image}}">
                            <h2>Friendship Request</h2>
                            <h3>recieved from {{FriendshipRequest.firstname}}</h3>
                            <p> {{FriendshipRequest.email}}</p>
                            <div class="button-bar">
                                <a ng-click="acceptFriendshipRequest(FriendshipRequest)" class="button button-small button-balanced">Accept</a>
                                <a ng-click="rejectFriendshipRequest(FriendshipRequest)" class="button  button-small button-stable">Ignore</a>
                            </div>
                        </ion-item>

                        <p>{{ChatRequestTitle}}</p>
                        <ion-item class="item item-avatar" ng-repeat="ChatRequest in RecievedChatRequests">
                            <img src="{{ChatRequest.image}}">
                            <h2>Chat Request</h2>
                            <h3>{{ChatRequest.firstname}} asks to join for a chat</h3>
                            <p>{{ChatRequest.email}}</p>
                            <div class="button-bar">
                            <a ng-click="navigateChatClientRoom(ChatRequest)" class="button button-small button-balanced ">Join now</a>
                            <a ng-click="ignoreInvitation(ChatRequest)" class="button button-small button-stable ">Ignore</a>
                            </div>
                        </ion-item>
                    </ion-list>

            </ion-tab>

</ion-tabs>


