﻿

    <ion-content ng-init="loadUserData()" class="padding">
        
            <h4> Change your Information</h4>
            <a class="item item-avatar">
                <img src="{{data.image}}">
                <h5>Profile Picture</h5>
                <button ng-click="showGallery()" class="button icon-left ion-ios-upload-outline">Select</button>

            </a>

            <label class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="data.username" type="text">
            </label>
        <p class="assertive" ng-show="!data.username">username required</p>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="data.password" type="password" maxlength="20">
            </label>
        <p class="assertive" ng-show="!data.password">password required</p>
            <!--<label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input ng-model="data.confPwd" type="password" maxlength="20">
            </label>
        <p class="assertive" ng-show="data.confPwd != data.password  && data.confPwd">passwords mismatching</p>
        <p class="assertive" ng-show="!data.confPwd ">confirm password required</p>-->
            <br />
            <h4>Persoanal Details</h4>

            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input  ng-model="data.firstName"  type="text" required>
            </label>
        <p class="assertive" ng-show="!data.firstName">first name required</p>
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input  ng-model="data.lastName" type="text" required>
            </label>
        <p class="assertive" ng-show="!data.lastName">last name required</p>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="data.email" type="email" required>
            </label>
        <p class="assertive" ng-show="!data.email">email required</p>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input ng-model="data.phone" maxlength="10" type="text" required>
            </label>
        <p class="assertive" ng-show="data.phone.length!=10">phone number required(10 characters)</p>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input ng-model="data.address" type="text" required>
            </label>
        <p class="assertive" ng-show="!data.address">address required</p>
            <label class="item item-input">
                <span class="input-label">Postal/Zip Code</span>
                <input ng-model="data.postal" type="text" maxlength="5"  required>
            </label>
        <p class="assertive" ng-show="!data.postal || data.postal.length!=5">postal code required(5 characters)</p>
            <!--<label class="item item-input">
                <span class="input-label">City</span>
                <input  type="text">
            </label>-->

            <label class="item item-input">
                <span class="input-label">State</span>
                <input ng-model="data.state" type="text" required>
            </label>
        <p class="assertive" ng-show="!data.state">state required</p>
            <button ng-click="editAccountDetails()" ng-disabled="data.postal.length!=5||data.phone.length!=10||!data.username||!data.password||!data.email||!data.firstName||!data.lastName||!data.email||!data.phone||!data.address||!data.state ||!data.postal"  class="button button-full button-balanced">
               Save Changes
            </button>
     <br /><br />

        <!--<h4><i class="ion-ios-trash"></i> Remove Account</h4>
    
            <ion-item nav-clear menu-close   class="item item-avatar ">

                <img src="images/avatar.png">
                <h2>Avatar</h2>
                <p>sample@address.com</p>
                <button class="button button-outline button-assertive" >Remove Account</button>

            </ion-item>-->
        
    </ion-content>
    
        
   
