﻿<br /><br /><br />

<ion-tabs class="tabs-positive tabs-icon-top">
    
    <!--<ion-tab title="My Posts" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">

        <ion-content class="padding">
           <br /><br /><br /><br />
            
             <ion-list class="list" ng-controller="appCtrl"
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe" >
                 
                 <div class="item item-divider" >
                    Replies for posts
                 </div>
                <ion-item ng-repeat="item in items" class="item">
                   
                    <h3>Orange Shirt on Dresses & Suits </h3>
                    <p><i class="ion-calendar"></i> before 12th Jan. 2016 </p>
                    <div class="card">
                        <div class="item item-text-wrap">
                            <p>Description goes here.Description goes here.Description goes here.Description goes here.</p>
                        </div>
                    </div>
                    
                    <p>
                        <a href="#" class="subdued"><i class="ion-thumbsup"></i> 23</a>
                        <a href="#" class="subdued"><i class="ion-thumbsdown"></i> 1</a>
                        <a href="#" class="subdued"><i class="ion-android-textsms"></i> 3 Comments</a>
                    </p>
                    <p>
                        <button class="button button-small button-assertive button-outline ion-android-delete" ng-click="onItemDelete(item)">  Remove post</button>
                        <a class="button button-small button-balanced button-outline ion-android-textsms" href="#/app/myproductComments"> Comments</a>
                        <a class="button button-small button-balanced button-outline ion-ios-list-outline" href="#/app/changeproduct">  Change Post</a>
                    </p>
                </ion-list>
        
        
        
        </ion-content>

</ion-tab>

            

            

    
    <ion-tab title="Create Post" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline">
        <br /><br /><br /><br />
        <ion-content class="padding">
            <ul class="list">
                <li class="list">
                    <p> Ask from your friends about a product that you are intrested in</p>
                    <form action="#/app/stall" nav-clear menu-close>
                        
                        <label class="item item-input item-select">
                            <div class="input-label">
                                 Category
                            </div>
                            <select class="ion-input-select">
                                <option value="cat1" selected>Ralph Lauren Apparel</option>
                                <option value="cat2">Womens Better Apparel</option>
                                <option value="cat3">Juniors Apparel</option>
                                <option value="cat4">Intimate Apparel Sleepwear</option>
                                <option value="cat5">Womens Petties</option>
                                <option value="cat6">Dresses & Suits</option>
                                <option value="cat7">Womens Socks & Hosiery</option>
                                <option value="cat8">Womens Swim Wear</option>
                            </select>
                        </label>
                                               
                        <label class="item item-input ">
                          <div class="input-label">When you want the product</div>
                            <input type="date" value="2016-05-16">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">
                                Product Name
                            </span>
                                <input type="text" maxlength="500" placeholder="Name of product">
                            
                         
                        </label>
                        
                       
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Description</span>
                            <input type="text" maxlength="500" placeholder="Describe the product to friends">
                        </label>
                        <br />
                        <button class="button button-block button-balanced">
                            Publish
                        </button>
                        </form>
            </li>
                
               
        </ul>


            </ion-content>
    </ion-tab>-->
    <ion-tab title="Preferences " icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">

        <ion-content class="padding" ng-controller="stallCtrl" ng-init="loadPreferences()">
            <!--<br /><br />-->
            <div class="card">
                <div class="item item-text-wrap">
                    <h3>How following facts affect you? </h3>
                    <p>Please tell us a bit about yourself & your attitudes to make you valuable suggestions</p>
                </div>

            </div>
            <div class="list">


                <label class="item item-input item-select">
                    <div class="input-label">
                        Color
                    </div>
                    <select ng-model="color">
                        <option value="1">Not applicable</option>
                        <option value="2">Very Low</option>
                        <option value="3">Low</option>
                        <option value="4" selected>Average</option>
                        <option value="5">Normal</option>
                        <option value="6">High</option>
                        <option value="7">Extreme</option>
                    </select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Product Brand
                    </div>
                    <select ng-model="brand">
                        <option value="1">Not applicable</option>
                        <option value="2">Very Low</option>
                        <option value="3">Low</option>
                        <option value="4" selected>Average</option>
                        <option value="5">Normal</option>
                        <option value="6">High</option>
                        <option value="7">Extreme</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Product Quality
                    </div>
                    <select ng-model="quality">
                        <option value="1">Not applicable</option>
                        <option value="2">Very Low</option>
                        <option value="3">Low</option>
                        <option value="4" selected>Average</option>
                        <option value="5">Normal</option>
                        <option value="6">High</option>
                        <option value="7">Extreme</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Product  Price
                    </div>
                    <select ng-model="price">
                        <option value="1">Not applicable</option>
                        <option value="2">Very Low</option>
                        <option value="3">Low</option>
                        <option value="4" selected>Average</option>
                        <option value="5">Normal</option>
                        <option value="6">High</option>
                        <option value="7">Extreme</option>
                    </select>
                </label>


            </div>

            <div class="list">
                <!--<label class="item item-input item-select">
                    <div class="input-label">
                        Own
                    </div>
                    <select ng-model="own">
                        <option value="100">Always</option>
                        <option value="75">Highly</option>
                        <option value="50">Normally</option>
                        <option value="25">Rarely</option>
                        <option value="0">Never</option>

                    </select>
                </label>-->

                <label class="item item-input item-select">


                    <div class="input-label">
                        I belive in
                    </div>
                    <select ng-model="opinions">
                        <option value="both">Both my friends & family members</option>
                        <option value="friends">Friends only</option>
                        <option value="family">Family members</option>


                    </select>
                </label>




            </div>


            <button ng-click="updateOpinionSettings()" class="button button-block button-positive">
                Save changes
            </button>
            <br /><br />

        </ion-content>
        <ion-footer-bar class="bar bar-footer bar-light item-input-inset">

            <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
                Home
            </a>

        </ion-footer-bar>

    </ion-tab>
    <ion-tab title="Wishlist" ng-controller="stallCtrl" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline">
        <br /><br /><br />
        <ion-header-bar class="bar bar-header bar-stable item-input-inset"></ion-header-bar>
        <ion-header-bar class="bar bar-header bar-stable item-input-inset">
            <br />
            <div class="list list-inset">

            </div>
            <div class="list list-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="searchWLProductsTxt">
                </label>
            </div>
            <div class="list list-inset">
            </div>
        </ion-header-bar>
        <ion-content class="padding">
          <br />
            <div ng-repeat="item in wishlist | filter:searchWLProductsTxt" class="list card">

                <div class="item item-avatar" href="#">
                    <img src="{{item.STALL_IMAGE}}">
                    <h2>Available @ {{item.STALL_NAME}}</h2>
                    <h3><i class=" ion-email"></i> {{item.STALL_EMAIL}}</h3>
                    <h3><i class="icon ion-android-call"></i> {{item.STALL_PHONE}}</h3>
                    <h3><i class="icon ion-ios-location"></i> {{item.STALL_ADDRESS}}</h3>
                    <h3><i class="icon ion-cash"></i> {{item.PRODUCT_PRICE}}</h3>

                    <!--<p><i class="ion-calendar"></i>added on  12th Jan. 2011</p>-->
                    <!--<a class="button button-small button-balanced button-outline ion-android-textsms" href="#/app/myproductComments">Comments</a>-->
                </div>
                <div class="item item-body">
                    <img class="full-image" src="{{item.PRODUCT_IMAGE}}">
                    <p>{{item.PRODUCT_DESC}}</p>
                </div>
                <div class="item">
                    <div class="button-bar">
                        <button ng-click="deleteWishListItem(item)" class="button button-stable icon ion-android-delete"> Remove</button>
                        <button ng-click="confirmPurchaseItem(item)" class="button button-balanced  icon ion-bag"> Puchase</button>
                    </div>

                </div>



            </div>
            </ion-content>
        <ion-footer-bar class="bar bar-footer bar-light item-input-inset">

            <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
                Home
            </a>

        </ion-footer-bar>
    </ion-tab>


    
</ion-tabs>