﻿<ion-view >


    <ion-content ng-controller="signupCtrl" class="padding">
        <!--action="#/app/home"-->
        <!--ng-submit="signUpUser()"-->
      
            <h4> Account Details</h4>
            <a class="item item-avatar" >
                <img src="{{data.image}}">
                <h5>Profile Picture</h5>
                <button ng-click="showGallery()" class="button icon-left ion-ios-upload-outline">Select</button>

            </a>
                        
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input ng-model="data.username" name="username" type="text" required>
               
            </label>
            <p class="assertive" ng-show="!data.username">username required</p>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input ng-model="data.password" name="password" type="password" maxlength="20" required>
               
            </label>
            <p class="assertive" ng-show="!data.password">password required</p>
         
            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input ng-model="data.confPwd" type="password" maxlength="20" required>
                
            </label>
          
            <p class="assertive" ng-show="data.password != data.confPwd">password mismatch</p>
            <br />
            <h4>Persoanal Details</h4>

            <label class="item item-input">
                <span class="input-label">First Name</span>
                <input name="firstName" ng-model="data.firstName" type="text" required>
               
            </label>
            <p class="assertive" ng-show="!data.firstName">first name required</p>

           
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input name="lastName" ng-model="data.lastName" type="text" required>
              
            </label>
            <p class="assertive"  ng-show="!data.lastName">last name required</p>

            <label class="item item-input">
                <span class="input-label">Email</span>
                <input  ng-model="data.email" name="email" type="email" required>
               </label>

            <p class="assertive" ng-show="!data.email"> valid email address required</p>

            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input name="phone" ng-model="data.phone" type="text" required>
              </label>
            <p class="assertive" ng-show="data.phone.length!=10"> valid phone number is required ( 10 characters)</p>

            <label class="item item-input">
                <span class="input-label">Address</span>
                <input name="address" ng-model="data.address" type="text" required>
            
            </label>
            <p class="assertive" ng-show="!data.address">address required</p>

            <label class="item item-input">
                <span class="input-label">Postal/Zip Code</span>
                <input name="postal" ng-model="data.postal" ng- type="text" maxlength="5" required>
               
            </label>
            <p class="assertive" ng-show="data.postal.length!=5">postal code required( 5 characters)</p>

          
            <!--<label class="item item-input">
                <span class="input-label">City</span>
                <input type="text">
            </label>-->
            <label class="item item-input">
                <span class="input-label" required>State</span>
                <input name="state" ng-model="data.state" type="text">
               
            </label>
            <p class="assertive"  ng-show="!data.state">state required</p>
            <button ng-click="signUpUser()" ng-disabled="data.postal.length!=5||data.phone.length!=10||!data.username||data.confPwd!=data.password||!data.confPwd||!data.password||!data.email||!data.firstName||!data.lastName||!data.email||!data.phone||!data.address||!data.state ||!data.postal" class="button button-full button-balanced">
                Create Account
            </button>
       <br /><br />
    </ion-content>
</ion-view>