﻿<ion-side-menus ng-controller="homeCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h3 class="title"><i class="ion-ios-compose-outline"></i> Personalize</h3>
                          
               
             
            
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close  ng-click="naviControl('catelog')" class="item item-icon-left">
                  
                      <!--href="#/app/mainCatelog"-->
                    <h3> <i class="icon ion-android-home"></i> Home</h3>
                    <h4 class="item-note"> Share your shopping ideas with friends </h4>
                           
                </ion-item>

                <ion-item nav-clear menu-close ng-click="naviControl('settings')" class="item item-icon-left">
                    
                    <!--href="#/app/changeAccount"-->

                          <h3> <i class="icon ion-android-settings"> </i> Settings</h3>
                    
                            <h4 class="item-note">Adjust your application & profile settings</h4>
                                          
                        
                </ion-item>
                <ion-item nav-clear menu-close ng-click="naviControl('wishlist')"  class="item item-icon-left">
                    <!--href="#/app/stall"--> 
                   <h3><i class="icon ion-android-list"> </i> Preferences & Wishlist</h3>
                    <h4 class="item-note">Manage wishlist & personal preferences </h4>


                </ion-item>
                <ion-item nav-clear menu-close  ng-click="signout();"  class="item item-icon-left">
                     <h3> <i class="icon ion-checkmark-round"> </i> Finish Session</h3>
                    <h4 class="item-note">Conclude your tour & sign out BeforeCart</h4>
                   
                    
                </ion-item>
                
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
