﻿<br /><br />
<ion-header-bar class="bar bar-header bar-positive item-input-inset">





    <button ng-click="addComment()" class="button  icon-left ion-android-add  button-small button-stable">
        Add New
    </button>



</ion-header-bar>
<ion-content class="padding">
    <br /><br /><br />


    <ion-item class="list card">
        <div class="item item-avatar item-text-wrap" href="#" ng-repeat="comment in Comments">
            <img src="{{comment.image}}">
            <h2>{{comment.userName}}</h2>
            <p>{{comment.status}}</p>

           
            <div class="button-small" ng-if="comment.userId == userId">
                <div class="button-bar">
                    <button ng-click="deleteComment(comment)" class="button button-small icon-left button-clear ion-ios-trash button-stable">Remove</button>
                    <button ng-click="showEdit(comment)" class="button button-small ion-ios-compose button-clear icon-left ion-android-create button-balanced">Edit</button>
                </div>
            </div>
        </div>




</ion-content>
<ion-footer-bar class="bar bar-footer bar-light item-input-inset">

    <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
        Home
    </a>

</ion-footer-bar>