﻿<ion-content class="padding">
    <br /><br /><br />
    <ul class="list">
        <li class="list">
            <p> Change  post details</p>
            <form action="#/app/stall" nav-clear menu-close>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Category
                    </div>
                    <select class="ion-input-select">
                        <option value="cat1" selected>Ralph Lauren Apparel</option>
                        <option value="cat2">Womens Better Apparel</option>
                        <option value="cat3">Juniors Apparel</option>
                        <option value="cat4">Intimate Apparel Sleepwear</option>
                        <option value="cat5">Womens Petties</option>
                        <option value="cat6">Dresses & Suits</option>
                        <option value="cat7">Womens Socks & Hosiery</option>
                        <option value="cat8">Womens Swim Wear</option>
                    </select>
                </label>

                <label class="item item-input ">
                    <div class="input-label">When you want the product</div>
                    <input type="date" value="2016-05-16">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">
                        Product Name
                    </span>
                    <input type="text" maxlength="500" placeholder="Name of product">


                </label>


                <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <input type="text" maxlength="500" placeholder="Describe the product to friends">
                </label>
                <br />
                <button class="button button-block button-balanced">
                    Save Changes
                </button>
            </form>
        </li>


    </ul>


</ion-content>