﻿<br /><br />
<ion-header-bar class="bar bar-header bar-positive item-input-inset" >
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="find new friends" ng-model="searchkey">
    </label>
    <button ng-disabled="!searchkey" ng-click="searchForFriends(searchkey)" class="button button-balanced button-small ion-ios-search">
        Search
    </button>
    <!--</div>-->
    <div class="list list-inset">
    </div>

</ion-header-bar>
<ion-content class="padding" >
    <br /><br /><br />
    <p>{{searchUserResultNotice}}</p>
    <ion-list class="list" >
        <ion-item class="item item-avatar" ng-repeat="searchFriend in searchFriendList" >
            <!--images/friends/obama.jpg-->
            
            <img src="{{searchFriend.image}}">
            <h2> {{searchFriend.firstname}}  &nbsp;&nbsp; &nbsp;</h2>
            <p>{{searchFriend.email}}</p>
            <a  ng-controller="mainCatelogCtrl" ng-click="sendFriendRequestAtSearch(searchFriend)" class="button button button-small button-positive">Send Request</a>

        </ion-item>
    </ion-list>
</ion-content>
<ion-footer-bar class="bar bar-footer bar-light item-input-inset">

    <a href="#/app/mainCatelog" class="button  icon-left ion-home button-small button-stable">
        Home
    </a>

</ion-footer-bar>