﻿<ion-view >
    

    <ion-content class="padding"  ng-controller="homeCtrl" >
        <form >
           
            <div class="item item-body">
                <img class="full-image"  src="images/logo.png">
               
               </div>

            <h4> Sign In</h4>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input ng-model="emailTxt" type="email">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="passwordTxt" maxlength="20">
                    </label>
                    <button  nav-clear menu-close  class="button  ion-person-stalker button-full button-balanced" ng-click="signIn(emailTxt,passwordTxt)">
                        Sign In
                    </button>
                    
                    <a class="button button-clear button-full button-outline button-positive  icon-right ion-chevron-right " href="#/app/signup">
                    Create New Account
                    </a>
                    <a class="button button-clear  button-positive" href="#/app/beforeResetPwd">
                    Forgot password?
                    </a>
            
        </form>
       
    </ion-content>
</ion-view>